<div class="header">
    <h1>pagina home</h1>
    <p>Logado</p>
    <a href="/login"> sair</a>
</div>




<style>
    *{
        margin:0;
    }
    .header{
        display: flex;
        align-items: center;
        color: white;
        justify-content: space-between;
        background-color: lightslategrey;
        padding: 10px;
    }
    .header > a {
        text-decoration:none;
        color:white;        
    }
</style>