<div class="header">
    <h1>pagina home</h1>
    <a href="/login"> fazer login</a>
</div>
<h1>Conteudo</h1>


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dolores consequuntur aliquid fugiat illo excepturi impedit corrupti quisquam itaque. Molestias, minima mollitia? Qui rerum repellat consectetur enim sunt harum nobis.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur libero nemo accusamus, culpa distinctio aliquid velit ipsa, cupiditate ut suscipit assumenda incidunt provident excepturi dicta possimus itaque explicabo at temporibus.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore placeat sunt, iusto voluptatum eveniet alias ducimus aliquid. Nobis maxime quam enim consequuntur laboriosam odit aspernatur voluptatibus, debitis, quod minima ex.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dolores consequuntur aliquid fugiat illo excepturi impedit corrupti quisquam itaque. Molestias, minima mollitia? Qui rerum repellat consectetur enim sunt harum nobis.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur libero nemo accusamus, culpa distinctio aliquid velit ipsa, cupiditate ut suscipit assumenda incidunt provident excepturi dicta possimus itaque explicabo at temporibus.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore placeat sunt, iusto voluptatum eveniet alias ducimus aliquid. Nobis maxime quam enim consequuntur laboriosam odit aspernatur voluptatibus, debitis, quod minima ex.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dolores consequuntur aliquid fugiat illo excepturi impedit corrupti quisquam itaque. Molestias, minima mollitia? Qui rerum repellat consectetur enim sunt harum nobis.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur libero nemo accusamus, culpa distinctio aliquid velit ipsa, cupiditate ut suscipit assumenda incidunt provident excepturi dicta possimus itaque explicabo at temporibus.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore placeat sunt, iusto voluptatum eveniet alias ducimus aliquid. Nobis maxime quam enim consequuntur laboriosam odit aspernatur voluptatibus, debitis, quod minima ex.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dolores consequuntur aliquid fugiat illo excepturi impedit corrupti quisquam itaque. Molestias, minima mollitia? Qui rerum repellat consectetur enim sunt harum nobis.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur libero nemo accusamus, culpa distinctio aliquid velit ipsa, cupiditate ut suscipit assumenda incidunt provident excepturi dicta possimus itaque explicabo at temporibus.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore placeat sunt, iusto voluptatum eveniet alias ducimus aliquid. Nobis maxime quam enim consequuntur laboriosam odit aspernatur voluptatibus, debitis, quod minima ex.</p>




<style>
    *{
        margin:0;
    }
    .header{
        display: flex;
        align-items: center;
        color: white;
        justify-content: space-between;
        background-color: lightslategrey;
        padding: 10px;
    }
    .header > a {
        text-decoration:none;
        color:white;        
    }
    h1{
        text-align: center;
        margin: 10px;
    }
    p{
        margin: 10px;
        border: 1px solid black;
        padding: 10px;
        background-color: steelblue;
        color: wheat;
    }
</style>