{{#each user}}
    <div class="bloco">
        <p>usuario{{dataValues.user}}</p>
        <p>senha {{dataValue.senha}}</p>
    </div>
{{/each}}

<style>
    .bloco{
        margin: 10px;
        height: 100px;
        width: 150px;
        border: 1px solid black;   
    }
</style>